.aboutSection {
	background-color: #fff;
	border: 20px solid #fff;
	padding: 0 12%;
}

.aboutWrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
	max-width: 1350px;
	margin: 0 auto;
}

.aboutHeader {
	text-transform: uppercase;
	font-weight: 500;
	color: #4a90e2;
	text-align: left;
}

.aboutText {
	text-align: center;
	font-size: 22px;
	color: #51535a;
	width: 800px;
}
