.offScreenMenu {
	background-color: #333;
	height: 100vh;
	width: 100%;
	max-width: 450px;
	position: fixed;
	top: 0;
	right: -450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3rem;
	transition: 0.3s ease;
}

.offScreenMenu ul {
	list-style-type: none;
}

.offScreenMenu li {
}

.offScreenMenu.active {
	right: 0;
}

nav {
	padding: 1rem;
	display: flex;
	background: none;
}

.hamMenu {
	height: 50px;
	width: 50px;
	margin-left: auto;
	position: relative;
}

.hamMenu span {
	height: 5px;
	width: 100%;
	background: #4a90e2;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}

.hamMenu span:nth-child(1) {
	top: 25%;
}

.hamMenu span:nth-child(3) {
	top: 75%;
}

.hamMenu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(2) {
	opacity: 0;
}

.hamMenu.active span:nth-child(3) {
	top: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
}

.heroSection {
	background-color: #f0effd;
	border: 20px solid #fff;
	padding: 0 12%;
	border-radius: 3px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 40px);
	max-width: 850px;
	margin: 0 auto;
}

.smallHeader {
	display: none;
}

.wrapperText h1 {
	font-size: 48px;
	line-height: 0.5em;
	color: #51535a;
	font-weight: 400;
}

.wrapperText .highlightOllie {
	font-weight: 500;
	position: relative;
	color: #4a90e2;
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #4a90e2 50%); */
}

.wrapperText .highlightOllie::before {
	background-color: #4a91e27c;
	box-shadow: 0 0 5px 5px #4a91e27e;
	content: '';
	position: absolute;
	width: calc(100% + 5px);
	height: 30%;
	left: 20px;
	bottom: 5px;
}

.wrapperText h3 {
	color: #5d6170;
	font-weight: 400;
}

.wrapperText .blueText {
	color: #4a90e2;
}

.wrapperIcon img {
	width: 225px;
	height: 225px;
}

.outerArrow {
	display: flex;
	justify-content: center;
}

.arrow {
	height: 40px;
	position: absolute;
	bottom: 50px;
	animation: scroll 1.5s infinite;
	-webkit-animation: scroll 1.5s infinite;
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: -5px;
		width: 1px;

		border-top: 20px solid var(--main-text);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-radius: 3px;
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 50px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 50px;
	}
	60% {
		height: 40px;
	}
}

@media screen and (max-width: 1036px) {
	.wrapperText h1 {
		font-size: 38px;
	}

	.wrapperText h3 {
		font-size: 16px;
	}

	.wrapperIcon img {
		width: 180px;
		height: 180px;
	}
}

@media screen and (max-width: 855px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.wrapper .longHeader {
		display: inline-block;
	}

	.wrapperIcon {
		padding-top: 3em;
	}
}

@media screen and (max-width: 612px) {
	.heroSection {
		padding: 0 12%;
		border: 15px solid #fff;
	}
	.wrapper {
		width: auto;
	}
	.wrapper h1 {
		font-size: 28px;
		line-height: 0em;
	}

	.wrapperText .highlightOllie::before {
		width: calc(100% - 10px);
	}

	.wrapperIcon img {
		width: 140px;
		height: 140px;
	}
}

@media screen and (max-height: 850px) {
	.outerArrow {
		display: none;
	}
}
