.projectSection {
	background-color: #e9fcfa;
	border-top: 10px solid #fff;
	border-right: 20px solid #fff;
	border-bottom: 10px solid #fff;
	border-left: 20px solid #fff;
	padding: 4em 12%;
	border-radius: 3px;
}

.latestText {
	font-size: 14px;
	margin-top: -20px;
	padding-bottom: 10px;
	color: var(--main-text);
}

.projectWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	max-width: 1350px;
	flex-wrap: wrap;
}

.projectText {
	flex-grow: 1;
	flex-basis: 0;
}

.projectWrapper h2 {
	font-size: 36px;
	color: var(--main-text);
	line-height: 25px;
}

.projectWrapper .tags {
	background: var(--main-text);
	color: #fff;
	width: auto;
	padding: 3px 15px;
	text-align: center;
	display: inline;
	font-size: 14px;
	margin-right: 20px;
	border-radius: 3px;
}

.projectWrapper p {
	color: var(--main-text);
	line-height: 1.5em;
	font-size: 18px;
	padding: 30px 0;
}

.projectWrapper button {
	padding: 12px 20px;
	background: none;
	border: 2px solid var(--main-text);
	color: var(--main-text);
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 4px 4px 0 var(--main-text);
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.projectWrapper button:hover {
	background: var(--main-text);
	color: #fff;
	box-shadow: 0px 0px 0 transparent;
}

.projectImg {
	align-self: center;
	margin-left: 100px;
}

.projectWrapper img {
	width: auto;
	height: 250px;
}

@media screen and (max-width: 1300px) {
	.projectWrapper img {
		height: 200px;
	}
}

@media screen and (max-width: 1036px) {
	.projectWrapper {
		flex-direction: column-reverse;
	}

	.projectText {
		margin-right: 0;
	}

	.projectImg {
		margin-left: 0;
	}

	.projectWrapper img {
		height: 200px;
	}
}

@media screen and (max-width: 600px) {
	.projectSection {
		padding: 4em 7%;
	}
	.projectWrapper img {
		height: 150px;
	}
}
